@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');

:root {
  font-size: 16px;
  --color1: #ae8b2b;
  --color2: #1c1e20;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background: #313234;
  color: #f4f4f4;
  margin: 0;
}

.App {
  display: flex;
  justify-content: stretch;
  margin: 20px;
}

.panel_left {
  width: 30%;
  padding-right: 8px;
}
.panel_right {
  width: 70%;
  padding-left: 28px;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color2);
  color: var(--color1);
  height: 60px;
  padding: 0 20px;
}
nav .logo {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -2px;
}
nav .logo .logo_icon {
  font-size: 1.4rem;
  color: #9c9c9c;
}

/* Form stuff */
.input_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
textarea {
  resize: none;
}
textarea:focus {
  outline: 3px solid var(--color1);
}
button:focus {
  outline: none;
}
.form_element {
  background: var(--color2);
  border: 2px solid var(--color1);
  border-radius: 6px;
  font-family: inherit;
  color: #f4f4f4;
  font-size: 1rem;
  margin-bottom: 12px;
  padding: 14px;
  width: 100%;
}
label {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-left: 6px;
}
.btn {
  background: var(--color1);
  border: 3px solid var(--color1);
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  color: var(--color2);
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.5s;
}
.btn:hover {
  background: var(--color2);
  color: var(--color1);
}
.btn_small {
  font-size: 0.8rem;
  padding: 0 10px;
  margin-left: 6px;
  min-width: 80px;
}

.icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  color: #9c9c9c;
  margin-left: 12px;
}
.icon:hover {
  color: var(--color1);
}

/* Brag cards */
h4 {
  margin: 0px;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color1);
}
.brag_card {
  background: var(--color2);
  border: 2px solid #141617;
  border-radius: 6px;
  white-space: pre-line;
  padding: 10px;
  margin-bottom: 14px;
}
.brag_card .card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tags {
  font-size: 0.8rem;
  color: #9c9c9c;
  margin-top: 10px;
}

/* Modals */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
dialog {
  background: #333;
  border: 2px solid #42828A;
  border-radius: 6px;
  padding: 20px;
  width: 500px;
}
dialog .button_container {
  display: flex;
  justify-content: space-between;
}
dialog .button_container .btn {
  width: 100%;
  margin-right: 6px;
}
dialog .button_container .btn:last-child {
  margin-right: 0;
}
