@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');

:root {
  font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background: #333;
  color: #f4f4f4;
  margin: 0;
}

.App {
  display: flex;
  justify-content: stretch;
  margin: 20px;
}

.panel_left {
  width: 30%;
  padding-right: 8px;
}
.panel_right {
  width: 70%;
  padding-left: 8px;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #212121;
  height: 60px;
  padding: 0 20px;
}
nav .logo {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -2px;
}

/* Form stuff */
.input_form {
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
}
.form_element {
  background: #212121;
  border: 2px solid #121212;
  border-radius: 6px;
  font-family: inherit;
  color: #a9c6ca;
  font-size: 1rem;
  margin-bottom: 12px;
  padding: 14px;
}
label {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-left: 6px;
}
.btn {
  background: #42828A;
  border: 3px solid #42828A;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  color: #f4f4f4;
  font-weight: 900;
  text-transform: uppercase;
  padding: 14px;
  transition: 0.5s;
}
.btn:hover {
  background: #3b5e62;
}
.btn_small {
  font-size: 0.8rem;
  padding: 2px 10px;
  margin-left: 6px;
}

/* Brag cards */
.brag_card {
  background: #212121;
  border: 2px solid #121212;
  border-radius: 6px;
  white-space: pre-line;
  padding: 10px;
  margin-bottom: 6px;
}
.brag_card_info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #9c9c9c;
  margin-top: 6px;
}
/* .brag_card_info span {
  margin-right: 12px;
} */