@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');

:root {
  font-size: 16px;
  --color1: #ae8b2b;
  --color2: #1c1e20;
  --color3: #c4ab65;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background: #f6f6f6;
  color: #373F46;
  margin: 0;
}

.App {
  display: flex;
  justify-content: stretch;
  margin: 20px 80px;
}

.panel_left {
  width: 30%;
  padding-right: 8px;
}
.panel_right {
  width: 70%;
  padding-left: 40px;
}
h3 {
  color: #3c576e;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border-bottom: 1px solid #bcd2e4;
  color: #3c576e;
  height: 60px;
  padding: 0 80px;
}
nav .logo {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -2px;
}
nav .logo .logo_icon {
  font-size: 1.4rem;
  color: #8a98a4;
}
nav .nav_button {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #3c576e;
  padding: 8px;
  transition: 0.4s;
  cursor: pointer;
}
nav .nav_button:hover {
  background: #ececec;
  border: 1px solid #bcd2e4;
}
nav .nav_button.no_border {
  background: transparent;
  border: none;
  margin-right: 4px;
}
.nav_rightSide {
  display: flex;
  align-items: center;
  justify-content: end;
}
nav .nav_rightSide .profilePicture {
  border: 1px solid #6b6b6b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Form stuff */
.input_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
textarea {
  resize: none;
}
textarea:focus, input:focus {
  border-color: #3c576e;
}
textarea:focus, input:focus, button:focus {
  outline: none;
}
.form_element {
  background: #f6f6f6;
  border: 2px solid #bcd2e4;
  border-radius: 6px;
  font-family: inherit;
  color: #373F46;
  font-size: 1rem;
  margin-bottom: 12px;
  padding: 14px;
  width: 100%;
}
label {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #3c576e;
  padding-left: 6px;
}
.btn {
  background: #8a98a4;
  border: 1px solid #8a98a4;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  color: #f6f6f6;
  font-weight: 900;
  text-transform: uppercase;
  padding: 6px;
  transition: 0.5s;
}
.btn:hover {
  background: #3c576e;
  color: #f6f6f6;
}
.btn_small {
  font-size: 0.8rem;
  padding: 0 10px;
  margin-left: 6px;
  min-width: 80px;
}

.icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  color: #9c9c9c;
  margin-left: 12px;
}
.icon:hover {
  color: #3c576e;
}

/* Brag cards */
.brag_card .date {
  margin: 0px;
  font-size:0.8rem;
  font-weight: 600;
  color: #909090;
  font-style: italic;
}
.brag_card {
  background: #f6f6f6;
  border-bottom: 1px solid #dadada;
  white-space: pre-line;
  padding: 10px;
  /* margin-bottom: 12px; */
}
.brag_card:last-child {
  border-bottom: 0;
}
.brag_card .card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brag_text {
  font-size: 1rem;
  font-weight: 400;
  margin: 2px 0;
}
.tags_wrapper {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: #9c9c9c;
  margin-top: 10px;
}
.tags_wrapper span {
  background: #bcd2e4;
  border-radius: 50px;
  font-weight: 400;
  color: #333;
  padding: 1px 12px;
  margin-left: 6px;
}

/* Modals */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
dialog {
  background: #f6f6f6;
  border: 2px solid #bcd2e4;
  border-radius: 6px;
  padding: 20px;
  width: 500px;
}
dialog .button_container {
  display: flex;
  justify-content: space-between;
}
dialog .button_container .btn {
  width: 100%;
  margin-right: 6px;
}
dialog .button_container .btn:last-child {
  margin-right: 0;
}
