/* Welcome page */
/* .welcome_wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 60px;
  } */
  .welcome_wrapper h1, .welcome_wrapper h2, .welcome_wrapper h3 {
    color: #3c576e;
  }
  .welcome_wrapper blockquote {
    margin: 0;
    padding: 0;
  }
  .welcome_wrapper q {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .welcome_wrapper .text_centered {
    text-align: center;
  }
  .welcome_wrapper .goalIcon {
    font-size: 15rem;
    color: #256b6b;
    margin: 14px 0;
    padding: 0;
    text-align: center;
  }
  .welcome_wrapper .start_message {
    text-decoration: none;
    text-align: center;
    color: #2e4646;
    font-size: 2.5rem;
    font-weight: 900;
  }
  .welcome_wrapper .start_message:hover {
    color: #13b5b5;
    transition: 0.2s;
  }
  .welcome_wrapper > div {
    width: 50%;
    padding: 25px 50px;
  }
  .welcome_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .welcome_wrapper li {
    padding-bottom: 12px;
  }
  .welcome_wrapper strong {
    color: #3c576e;
  }